<!doctype html>
<html lang="en">

<head>
  <!-- Meta tags for view -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- SEO, content related tags-->
  <title>floverfelt.com | Florian Overfelt | Thoughts, notes, etc.</title>
  <meta name="description" content="The personal website of Florian Overfelt">
  <meta property="og:title" content="floverfelt.com">

  <!-- Imports -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  <link rel="stylesheet" href="static/css/bundle.css">
  <link rel="icon" href="static/favicon/favicon.ico" sizes="any">
  <link rel="apple-touch-icon" href="static/favicon/favicon.ico">

  <!-- Imports: fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap" rel="stylesheet">

</head>

<body>
  <div class="columns is-centered">
    <div class="column is-three-fifths mt-3">
      <div class="columns has-text-centered is-centered">
        <div class="column header-box">
          <div class="columns is-mobile">
            <div class="column">
              <h1><a href="/">Home</a></h1>
            </div>
            <div class="column">
              <h1><a href="/tags">Tags</a></h1>
            </div>
            <div class="column">
              <h1><a href="/posts">Posts</a></h1>
            </div>
            <div class="column">
              <h1><a href="/resume">R&#233;sum&#233;</a></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="columns m-1">
        <figure class="image">
          <img src="static/images/unnamed.svg" class="me-svg p-3">
        </figure>
        <div class="column">
          <div class="columns">
            <div class="column is-size-4">
              Thoughts on life
            </div>
          </div>
          <div class="columns">
            <div class="column">
              Notes on Technology
            </div>
          </div>
          <div class="columns">
            <div class="column">
              etc.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>