body {
  font-family: "Markazi Text", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-size: 12pt;
  font-weight: bold;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: #0099ff;
  text-decoration-thickness: 3px;
}
.header-box {
  padding-bottom: 1em;
  border-bottom: 2px solid lightgrey;
}
.me-svg {
  border: 3px double maroon;
  border-radius: 3px;
  max-width: 20rem;
}
@media (max-width: 1005px) {
  .me-svg {
    max-width: 18rem;
    height: auto;
  }
}